<div class="body">  
  <div class="row header" style="height: 13vh;">
    <div class="col-6">
      <div class="row">
        <div class="col-3" style="text-align: right;"> 
            <img src="http://surehis.com/resource/common/Logo.png" style="height: 63px;width: 63px;" >
        </div>
        <div class="col-9">          
            <div style="font-size: 24pt;text-align: center ">BỆNH VIỆN ĐA KHOA MỸ PHƯỚC</div>
            <div style="font-size: 12pt;text-align: center ">Ân cần - Nhanh chóng - An toàn</div>
        </div>     
    </div>
    </div>
    <div style="display: grid; place-items: center right; font-size: 15pt" class="col-6 text-capitalize">
       <div> {{date}}</div>
    </div>
</div>

<div class="row contentQ" style="height: 100vh;">
  <div class="col-12" style="padding-top: 15px" >
    <div>Cấu hình Phòng/Quầy khám</div>
    <kendo-combobox [data]="data" 
                    style="width: 200px;font-size: 12pt"
                    [(ngModel)]="valueType"
                    (valueChange)="valueChange($event)" 
                    [textField]="'name'"
                    [valueField] ="'id'"
                    [valuePrimitive]="true"
                    [clearButton]="false"
                    [placeholder]="'Chọn loại phòng khám'" 
                    [suggest]="true">
    </kendo-combobox><br/>
    <input #input  type="number" style="width: 200px;height: 28px;font-size: 12pt;padding: 7px" min=0
            (change)="onChange($event)"
            [(ngModel)]="valueText" placeholder="Mã phòng/quầy khám"><br/>
    <div style="display: flex; align-items: center; justify-content: center;padding-top: 15px">
      <div (click)="SetConfig()"  style="cursor: pointer;background-color: #8C1919;width: 200px; border-radius: 8px;font-size: 17pt">Thiết lập</div>
    </div>
  </div> 
</div>  

</div>