.logo-his{
    width: 60px;
    height: 60px;
}
.header{
    background-color: #1b56a7;
    color: white;
    padding: 10px;
    line-height: initial;
}
.itemHeader{
    text-align: center;
    background-color: #4874b9;
    color: white;
    padding: 10px;
    line-height: initial;
    font-size: 19pt;
}
.GrHeader{
    background-color: #4874b9;
    color: white;
    line-height: initial;
    font-size: 19pt;
}
.contentQ{
    height: inherit;
    text-align: center;
    background-color: #34a5dd;
    color: white;
    font-size: 19pt;    
    padding-bottom: 10px;
}
.patientQ .resultQ{
    height: 12%;
}
.body{
    max-height:100vh;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    font-family: 'Segoe UI';
}
.itemQ{
    border: 1px solid white;
    // place-items: center center;
    // display: grid
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: center;
}